header{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px;
}
header .menu{
  margin: 40px 0;
  text-align:  right;
}
header .menu a{
  margin: 0 20px;
  color: #fff;
  padding-bottom: 9px;
  font-size: 16px;
  display: inline-block;
  text-decoration:  none;
  border-bottom: 2px solid transparent;
}
header .menu a:hover{
  border-bottom: 2px solid #fff;

}
.fondo{
  background-color: rgba(56, 74, 148, 0.5);
  height: 600px;
}
header .contenedor-texto{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 190px;
}
header .contenedor-texto .textos{
  border:2px solid rgba(255,255,255, 0.8);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 20px 20px;
}
header .contenedor-texto .textos h1,p{
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}header{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-height: 600px;
}
header .menu{
  margin: 40px 0;
  text-align:  right;
}
header .menu a{
  margin: 0 20px;
  color: #fff;
  padding-bottom: 9px;
  font-size: 16px;
  display: inline-block;
  text-decoration:  none;
  border-bottom: 2px solid transparent;
}
header .menu a:hover{
  border-bottom: 2px solid #fff;

}
.fondo{
  background-color: rgba(56, 74, 148, 0.5);
  height: 600px;
}
header .contenedor-texto{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 190px;
}
header .contenedor-texto .textos{
  border:2px solid rgba(255,255,255, 0.8);
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: 20px 20px;
}
header .contenedor-texto .textos h1,p{
  color: #ffffff;
  margin: 0;
  font-weight: 300;
}
